* {
    margin: 0;
    padding: 0;
}

table {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}

.endgame {
    display: none;
    width: 200px;
    top: 120px;
    background-color: rgba(205, 133, 63, 0.8);
    position: absolute;
    left: 50%;
    margin-left: -100px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 2em;
}

button {
    display: flex;
    margin: 20px auto;
}

.difficulty-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.difficulty-button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: lightgray;
    margin-right: 10px;
    cursor: pointer;
}

.difficulty-button:hover {
    background-color: gray;
}

.selected {
    background-color: lightblue;
}

.cell {
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
}